@page "/GuestInterface"
@attribute [RenderModeInteractiveServer]
@inject NavigationManager NavigationManager
@using System.Web
@using System.Text.RegularExpressions;

<h1 style="font-family:Times New Roman">Guest Menu</h1>
<!--checks if there is currently a guest whos logged in -->
@if(SessionDetails.SessionGuest == null)
{
    <p>Need to be logged in to access guest functions</p>
    <button class="btn btn-primary" @onclick="() => MovePage()">Main menu</button>
}
else
{

    //a switch statment for guest menu options
    switch(option)
    {
        case 0:
        <p>Please select an option below</p>
        <div>
            <button class="btn btn-primary" @onclick="() => GuestChoice(1)">Check availability</button>
            
            <button class="btn btn-primary" @onclick="() => GuestChoice(2)">Start a new booking</button>
            
            <button class="btn btn-primary" @onclick="() => GuestChoice(3)">Write a review</button>
            
            <button class="btn btn-primary" @onclick="() => GuestChoice(4)">Read reviews</button>
        </div>
        break;
        //checks room availability in hotels.roms
        case 1:
            foreach(Room r in Hotel.Rooms)
            {
                <p>
                @((MarkupString)r.ToString())
                </p>
            }
            <button class="btn btn-primary" @onclick="() => GuestChoice(0)">Back</button>
        break;
        //lets guest create a booking with room and dates
        case 2:
        //a form where the guest specifies what the guest is looking for
        <EditForm style="margin-bottom: 10px;" Model="@Model" OnSubmit="@Submit">
        <p>What is your max price per night?  <InputNumber @bind-Value="Model!.room.RoomPrice" /></p>
        <p>How many guests are staying?  <InputNumber @bind-Value="Model.room.Capacity" /></p>
        <p>What date would you like to start your booking?  <InputDate @bind-Value="Model.startDate" /></p>
        <p>What date would you like to end your booking?  <InputDate @bind-Value="Model.endDate" /></p> 
        <button type="submit">Submit</button> 
        <button class="btn btn-primary" @onclick="() => GuestChoice(0)">Back</button>
        </EditForm>

        // an if statment that check if theres any rooms that matches the guests inputs, also checks so no bookings can overlap with the desired booking period
        if(tempRooms.Count() > 0)
        {
            <p>Please select the rooms you would like to book</p>
            foreach(Room r in tempRooms)
            {
                safe ++;
                <p style="border-style : solid; border-width : 2px; padding-left : 5px; width : 400px;">
                @((MarkupString)r.ToString())
                @if(Guest.CompareDates(tempDates!.startDate, tempDates.endDate, r) == true)
                {
                    if(desiredRoom.Exists(x => x == r))
                    {
                        <br /><button style="margin-bottom: 5px; margin-top: 10px; background-color: rgb(172, 0, 0); border-color: red;" class="btn btn-primary" @onclick="() => RemoveRoom(r)">Remove from booking</button>

                    }
                    else
                    {
                        <br /><button style="margin-bottom: 5px; margin-top: 10px; background-color: green; border-color: rgb(0, 186, 0);" class="btn btn-primary" @onclick="() => AddRoom(r)">Add to booking</button>
                    }
                    
                }
                else
                {
                    if(BookingOwner(r))
                    {
                        <p>This room is already booked by you during period @tempDates.startDate - @tempDates.endDate</p>
                    }
                    else
                    {
                        <p>Room is already booked during period @tempDates.startDate - @tempDates.endDate</p>

                    }
                   
                }
                </p>
                
            }
        }
        if(desiredRoom.Count > 0)
        {
            <p style="font-size: 20px; margin-top: 25px;">Booking Details</p>
            <p style="border-style : solid; border-width : 2px; padding-left : 5px; width : 500px;">
            <b>Period: </b>@tempDates!.startDate until @tempDates.endDate<br />
            @((MarkupString)ConfirmBooking())
            </p>
            <p>
            <button class="btn btn-primary" @onclick="() => BookRoom(desiredRoom)">Confirm Booking</button>
            </p>
        }
        break;
        case 3:
        //if statment thats checks if the guest has any past bookings that they have not yet written a review for
        if(SessionDetails.SessionGuest.guestPastBookings.Count > 0 && SessionDetails.SessionGuest.guestPastBookings.Exists(x => x.Review == null))
        {
            if(reviewing == false)
            {
                <p><b>Which booking would you like to write a review for?</b></p>
                foreach(Booking b in SessionDetails.SessionGuest.guestPastBookings)
                {
                    if(b.Review == null)
                    {
                    <p style="margin-bottom: 10px;">
                        @((MarkupString)b.ToString())<br />
                        <button class="btn btn-primary" @onclick="() => PickReview(b)">Review</button>
                    </p>
                    }
                }
            }
            else
            {
                <p>
                @((MarkupString)tempBooking.ToString())
                </p>
                <p><b>Please enter your review</b></p>
                <EditForm Model="@tempReview" OnSubmit="@Review">
                <div style="margin-bottom: 10px">
                    <InputTextArea class="form-control" style="height: 150px; width: 500px" @bind-Value="tempReview.review" />
                </div>
                <div>
                <button type="submit">Submit</button>
                </div>
                </EditForm>

            }
        }
        else
        {
            <h2>No bookings available to review</h2>
        }
        <div>
        <button style="margin-top: 20px;" class="btn btn-primary" @onclick="() => GuestChoice(0)">Back</button>
        </div>

        break;
        case 4:
        //chekcs if there is any bookings that the guest has written a review for
        if(SessionDetails.SessionGuest.guestPastBookings.Count > 0 && SessionDetails.SessionGuest.guestPastBookings.Exists(x => x.Review != null))
        {
            <h2>Your reviews</h2>
            foreach(Booking b in SessionDetails.SessionGuest.guestPastBookings)
            {
                if(b.Review != null)
                {
                    <p>@((MarkupString)b.ToString())<br /><b>Review</b>
                        <p style="border-style : solid; border-width : 1px; padding-left : 5px; width : 400px; min-height: 4em;">@b.Review</p>
                    </p>

                }
            }
        }
        else
        {
            <h2>No reviews made so far</h2>
        }
        <div>
        <button style="margin-top: 10px;" class="btn btn-primary" @onclick="() => GuestChoice(0)">Back</button>
        </div>
        break;
    }
}
<p style="margin-top: 25px"><i>@message</i></p>

@code
{
    private bool reviewing = false;
    private int safe = 0;
    private string message = "";
    private Temp? Model {get; set;}
    private Booking tempBooking = new Booking();
    private Temp? tempDates = new Temp();
    private TempReview tempReview = new TempReview();
    List<Room> tempRooms = new List<Room>();
    List<Room> desiredRoom = new List<Room>();

    protected override void OnInitialized() => Model ??= new();

    static int option = 0;

    //a method that controls guest menu options and resets editform data when stitching option
    private void GuestChoice(int i)
    {
        option = i;
        Model = new Temp();
        tempRooms.Clear();
        reviewing = false;
    }
    private void MovePage()
    {
        NavigationManager.NavigateTo("");
    }

    //a method that compares the guest inputs for start and denddate, roomprice and capacity.
    private void Submit()
    {
        tempRooms.Clear();
        if(Model!.startDate < Model.endDate && Model.room.Capacity > 0)
        {
            foreach(Room r in Hotel.Rooms)
            {
                if(Model.room.RoomPrice >= r.RoomPrice && Model.room.Capacity <= r.Capacity)
                {
                    tempDates!.startDate = Model.startDate;
                    tempDates!.endDate = Model.endDate;
                    tempRooms.Add(r);
                    message = "";
                }

            }    
        }
        else if(Model.startDate >= Model.endDate)
        {
            message = "End date must be later than start date";
        }
        else
        {
            message = "Guests staying must be more than 0";
        }
    }

    //a method that books the specified room for the booking period if there are no overlaps
    private void BookRoom(List<Room> rooms)
    {
        Guest.BookRoom(rooms, tempDates!.startDate, tempDates.endDate, SessionDetails.SessionGuest!);
        desiredRoom = new List<Room>();
        message = "Booking successful";
        Submit();
       
    }

    private void AddRoom(Room r)
    {
        desiredRoom.Add(r);
    }

    private void RemoveRoom(Room r)
    {
        desiredRoom.Remove(r);
    }

    //a method that sets which booking that are being reviwed
    private void PickReview(Booking b)
    {
        tempBooking = b;
        reviewing = true;
    }

    //a method that saves the review to the booking
    private void Review()
    {
        tempBooking.Review = tempReview.review;
        tempBooking = new Booking();
    }

    bool BookingOwner(Room r)
    {
        foreach(Booking b in r.roomBookings)
        {
            if(b.Guest == SessionDetails.SessionGuest && !Guest.CompareDates(tempDates!.startDate, tempDates.endDate, r))
            {
                return true;
            }
        }
        return false;
    }

    string ConfirmBooking()
    {
        string total = "<b>Rooms:</b> ";
        double pricetotal = 0;
        foreach(Room r in desiredRoom)
        {
            total += $"'{r.RoomNr}. {r.Description}' ";
            pricetotal += r.RoomPrice;
        }
        int span = tempDates!.endDate.DayNumber - tempDates.startDate.DayNumber;

        double fullpricetotal = pricetotal * span;

        fullpricetotal = Math.Round(fullpricetotal, 2);
        pricetotal = Math.Round(pricetotal, 2);


        total += $"<br /><b>Total price:</b> {fullpricetotal}<br /><b>Price per night:</b> {pricetotal}";
        return total;
    }

    class TempReview
    {
        public string review = "";
    }
    class Temp
    {
        public Room room = new Room();
        public DateOnly startDate = DateOnly.FromDateTime(DateTime.Now);
        public DateOnly endDate = DateOnly.FromDateTime(DateTime.Now);
    }
}

